#column_right {
    background-color: #fff;
    padding-top:5%;
    background: none;

}
.nav-list.tree {
 position: fixed;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus {
    color: #563d7c;
    border-left: 2px solid #563d7c;
    padding-left: 10px;
    background: none !important;
}

.nav-list > li > .nav > li > a:hover,
.nav-list > li > .nav > li > a:focus {
    color: #563d7c;
    border-left: 2px solid #563d7c;
    padding-left: 28px;
    background: none !important;
}

.nav-list li a {
    padding-left: 12px;
    font-weight: 700;
    color: #563d7c;
    background: none;
    cursor: pointer;
}

.nav-list > li > a {
    padding-left: 12px;
    font-weight: 700;
    color: #563d7c;
    background: none;
    cursor: pointer;
}

.nav-list > li > a:hover {
    color: #563d7c;
    border-left: 2px solid #563d7c;
    padding-left: 10px;
    background: none;
}

.nav-list > li .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    background: none;
}

.code-block {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
